body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    border: black 2px solid;
    border-radius: 30px;
    margin: 5%;
    padding: 5%;
}

.logo {
    background-color: #eee;
    /* display: inline-block; */
    margin: 2em;
    padding: .5em;
}

.form-container {
    background-color: white;
    border: solid .5em salmon;
    margin: 2em;
    padding: 2em;
}

.label-style {
    padding: .2em;
    /* margin-right: .2em; */
}

.question {
    display: inline-block;
}

#greeting {
    background-color: salmon;
    margin: 2em;
    padding: 5em;
}

.greeting-header {
font-size: 5em;
color: white;
}

.tagline {
    line-height: 1.2px;
    padding: .1em;
    margin: .5em;
}

.intro {
    margin-top: 2em;
    padding: 1em; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid black;
}

.grade-card {
    margin: 2em;
    padding: 1em;
    border: 2px solid black;
}

.homepage-image {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.greeting {
    font-size: 2.5em;
    margin: .7em;
}

.homepage-buttons h3 {
    margin: 1em;
}

.has-phone-true {
    background-color: lightgreen;
}

.has-phone-false {
    background-color: salmon;
}

.ui.card {
text-align: left;
line-height: 1.25em;

}