body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrapper {
    border: black 2px solid;
    border-radius: 30px;
    margin: 5%;
    padding: 5%;
}

.search-existing {
    color: blue;
    border: black 2px solid;
}

.logo {
    background-color: #eee;
    /* display: inline-block; */
    margin: 2em;
    padding: .5em;
}

.action-container {
    background-color: white;
    border: 1px solid grey;
    margin: 2em;
    padding: .5em;
}